[user]
	email = alternativegravitational@protonmail.com
	name = Gravity
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJHIMEBAQx0PcSRv0pxyZzCj7W/ItHWCVq5Yp3FEkreF alternativegravitational@protonmail.com
[gpg]
	format = ssh
[merge]
	conflictStyle=diff3
